NVIDIA_API_BASE=https://REDACTED
NVIDIA_API_KEY=sk-proj-REDACTED
ZAI_API_KEY=sk-proj-REDACTED
ALIBABA_API_BASE=https://REDACTED
ALIBABA_API_KEY=sk-proj-REDACTED
LITELLM_MASTER_KEY=sk-litellm-REDACTED
